@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

/***************** Common styles **************/
.hide {
    display: none !important;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    --background-image: url('images/background.jpg');
}

body::before {
    content: '';
    position: absolute; /* Position the overlay */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-image: var(--background-image); /* Background image */
    background-size: cover; /* Cover the entire body */
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: center; /* Center the image */
    z-index: 0; /* Stack the image below the overlay */
    opacity: 0.6;
}

.overlay {
    background-color: rgb(44, 117, 213);
    position: absolute; /* Position the overlay */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 1;
    opacity: 0.8;
}

.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page2 {
    display: none;
}

.page2.show {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.page2.show > * {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.textbox-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

form#business-questions-form {
    width: 60%;
}

textarea, input, select {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 50px;
    opacity: 0.8;
    min-width: 200px;
    border: 2px solid #acacac;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    resize: none; /* Disable resizing */
    transition: all 0.5s ease;
    outline: none;
}
textarea#business-idea.expanded {
    height: 200px;
    border-radius: 25px;
    transition: all 0.5s ease;
}

button.submit {
    background-color:#ffffff;
	border-radius:7px;
	border:2px solid #999999;
	display:inline-block;
	cursor:pointer;
	color:#878787;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-top: 10px;
}

button:hover {
	opacity: 1;
    outline: none;
    cursor: pointer;
}

button#business-idea-submit {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 17px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    padding: 20px;
    background-color: #5b5b5b;
    color: white;
}

/**************** Page 2 *****************/
h3 {
    opacity: 0.7;
}

.page2 input:focus {
    box-shadow: 0 0 10px #9ecaed;
}

select {
    display: flex;
    appearance: none;
}

.select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
}

.arrow {
    position: absolute;
    right: 10px;
    color: rgb(74, 74, 74);
    pointer-events: none;
}
.arrow:hover {
    cursor: pointer;
}

.money {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.money.input {
    padding-left: 30px;
}

.dollarsign {
    position: absolute;
    left: 17px;
    color: rgb(74, 74, 74);
    pointer-events: none;
}

/************* Map styles *************/
.mapcontainer {
    padding-right: 20px;
    position: relative;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
}

.marker {
    position: absolute;
    transform: translate(-50%, -50%); /* Center the marker */
    pointer-events: none; /* Prevent interaction with the marker */
    z-index: 1;
}